@import url('https://fonts.googleapis.com/css2? family= Open+Sans:ital@1 & display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'open Sans', sans-serif;
}

body{
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    background:bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    margin: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 350px;
    background: linear-gradient(120deg, #3bffe2d8, #ff2525da);
    border-radius: 10px;
    box-shadow: 2px 2px 8px 10px rgba(0, 0, 0, 0.271);
}

.relogio div{
    margin: 5px;
    height: 170px;
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, 0.897);
    box-shadow: 5px 15px 15px rgba(255, 255, 255, 0.485);
    border-radius:5%;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 10px;
}